/*

	.caption-style-1{
		list-style-type: none;
		margin: 0px;
		padding: 0px;
		
	}

	.caption-style-1 li{
		float: left;
		padding: 0px;
		position: relative;
		overflow: hidden;
	}

	.caption-style-1 li:hover .caption{
		opacity: 1;

	}


	.caption-style-1 img{
		margin: 0px;
		padding: 10px;
		float: left;
/*		z-index: 4;
*/	/*}


	.caption-style-1 .caption{
		cursor: pointer;
		position: absolute;
		opacity: 0;
		-webkit-transition:all 0.45s ease-in-out;
		-moz-transition:all 0.45s ease-in-out;
		-o-transition:all 0.45s ease-in-out;
		-ms-transition:all 0.45s ease-in-out;
		transition:all 0.45s ease-in-out;

	}
	.caption-style-1 .blur{
		background-color: rgba(0,0,0,0.65);
		height: 300px;
		width: 400px;
		padding: 10px;*/
/*		z-index: 5;
*/		/*position: absolute;
	}

	.caption-style-1 .caption-text{
		font-size: 1.25em;
		text-transform: uppercase;
		text-align: center;
	}

	.caption-style-1 .caption-text{
		z-index: 10;
		color: white;
		position: absolute;
		width: 400px;
		height: 300px;
		text-align: center;
		top:100px;
	}*/


	/** content *
	.content{
		margin-top: 100px;
		margin-left: 100px;
		width: 700px;
	}
	.content h1, .content h2{
		color: #ecf0f1;
		padding: 0px;
		margin: 0px;
	}
*/
/*	.content h1{
		font-weight: 900;
		font-size: 64px;
	}

	.content h2{
/*		font-size:26px;
*/

/*	.content p{
		color: #ecf0f1;
		font-family: "Lato";
		line-height: 28px;
		font-size: 15px;
		padding-top: 50px;
	}**

/*	

	p a{
		color: #ecf0f1;
	}*/

	/** fork icon**/
/*	.fork{
		position: absolute;
		top:0px;
		left: 0px;
	}*/
*/