/* Box Model Fix */

html{
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
}

/* Reset  */
* { 
    margin: 0;
    padding: 0;
}

/*STANDARD STYLING START ____________________________________________________________________*/

body{
  color: #8f8f8f;
  background: #ffffff;
  font-family: 'Libre Baskerville', serif;
  font-weight: 300;
  font-size: 1em;
  line-height: 1.30em;
  -webkit-font-smoothing: antialiased;
}

p{
font-size: 1em;
line-height: 28px;

}

a{
  text-decoration: none;
}

h1{
  font-size: 3.5em;
  line-height: 2.5em;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  letter-spacing: .15em;
}

h2{
  font-size: 2.25em;
  line-height: 3.625em;
  text-transform: uppercase;
  font-family: 'Lato', sans-serif;
}

h3{
    font-family: 'Lato', sans-serif; 
    font-size: 1.375em;
    line-height: 2.00em;
    text-transform: uppercase;
    font-weight: 900;
}

h4{
  font-family: 'Lato', sans-serif;  
  font-size: 1.25em;
  line-height: 1.5em;
  font-weight: 700;

    }

li{
    font-weight: 400;

}      

/*STANDARD STYLING END ____________________________________________________________________*/

.home{
  font-style: italic;
}

.main_h{
  position: fixed;
  top: 0px;
  max-height: 70px;
  z-index: 999;
  width: 100%;
  padding-top: 17px;
  background: none;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
/*  opacity: 0;
*/top: -100px;
  padding-bottom: 6px;
  font-family: 'Lato', sans-serif;

}

@media only screen and (max-width: 766px){
  .main_h{
    padding-top: 25px;
  }
}

.open-nav {
  max-height: 400px !important;

}

.open-nav .mobile-toggle{

  transform: rotate(-90deg);
  -webkit-transform: rotate(-90deg);

}

.sticky {
  background-color: rgba(0, 0, 0, 0.90);
  opacity: 1;
  top: 0px;
  border-bottom: 1px solid gainsboro;

}

.logo{
  width: 50px;
  font-size: 1.500em;
  color: #ffffff;
  float: left;
  display: block;
  margin-top: 0;
  line-height: 1.750em;
  margin-bottom: 10px;
}


@media only screen and (max-width: 766px) {
  .logo {
    float: none;
  }
}

nav {
  float: right;
  width: 60%;
}
@media only screen and (max-width: 766px) {
  nav {
    width: 100%;
  }
}
nav ul {
  list-style: none;
  overflow: hidden;
  text-align: right;
  float: right;
}
@media only screen and (max-width: 766px) {
  nav ul {
    padding-top: 10px;
    margin-bottom: 22px;
    float: left;
    text-align: center;
    width: 100%;
  }
}
nav ul li{
  display: inline-block;
  margin-left: 35px;
  line-height: 2.500em;
}
@media only screen and (max-width: 766px) {
  nav ul li{
    width: 100%;
    padding: 7px 0;
    margin: 0;
  }
}
nav ul a{
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1em;
  font-family: "Lato", sans-serif;
  font-weight: 400;

}

nav a:hover{
    border-bottom: 1.5px solid #ffffff;
    font-weight: 700;

}

nav a.active{
    font-weight: 700;
}

.mobile-toggle{
  display: none;
  cursor: pointer;
  font-size: 1.333em;
  position: absolute;
  right: 22px;
  top: 0; /*IMPORTANT*/
  width: 30px;
  -webkit-transition: all 200ms ease-in;
  -moz-transition: all 200ms ease-in;
  transition: all 200ms ease-in;
}
@media only screen and (max-width: 766px) {
  .mobile-toggle {
    display: block;
  }
}
.mobile-toggle span {
  width: 30px;
  height: 4px;
  margin-bottom: 6px;
  border-radius: 1000px;
  background: #ffffff;
  display: block;
}

.row {
  width: 100%;
  max-width: 940px;
  margin: 0 auto;
  position: relative;
  padding: 0 2%;
}


/*HOME____________________________________________________________________*/
.intro-copy{
  color: black;
  font-weight: lighter;
  font-size: 1.30em;
  line-height: 1.70em;
  text-align: right;
  padding-right: 10px;
}

@media only screen and (max-width: 766px){
  .intro-copy{
    text-align: left;
  }
}



/*Down-right pointing*/
/*.triangle-down-right {
    width: 10%;
    height: 0;
    padding-top: 10%;
    overflow: hidden;
}
.triangle-down-right:after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    margin-top:-500px;
    
    border-top: 500px solid transparent;
    border-right: 500px solid #4679BD;
}
*/


/*RESUME 2 COLUMNS & HOME____________________________________________________________________*/

li{
  line-height: 1.5em;
  font-size: 1em;
}

.columnsContainer, footer, header{ 
position: relative;}

.leftColumn, .rightColumn, footer, header{  
border: 0px solid #ffffff;

}

.rightColumn{ 
margin-bottom: 8px; 

}

@media screen and (min-width: 760px ) {

.leftColumn{ 
    position: absolute; top: 0; left: 0; width: 300px;

  }

.rightColumn{ 
    margin-left: 312px; }

  }   
}

/*PHOTO GALLERY & ABOUT 3 COLUMNS ____________________________________________________________________*/

/*  SECTIONS  */
.section {
  clear: both;
  margin-top: 0px;
}

/*  COLUMN SETUP  */
.col {
  display: block;
  float:left;
  margin: 1% 0 1% 1.6%;
}
.col:first-child { margin-left: 0; }

/*  GROUPING  */
.group:before,
.group:after { content:""; display:table; }
.group:after { clear:both;}

/*  GRID OF THREE  */
.span_3_of_3{ 
  width: 100%;
}
.span_2_of_3{ 
  width: 65.00%; 
}
.span_1_of_3{ 
  width: 31.00%; 
}
.span_1_of_2{ 
  width: 65.00%; 

}

/*  GO FULL WIDTH BELOW 600 PIXELS */
@media only screen and (max-width: 600px) {
  .col {  margin: 1% 0 1% 0%; }
  .span_3_of_3, .span_2_of_3, .span_1_of_3, .span_1_of_2 { width: 100%; }
}

.thumbnails{
  padding-bottom:50px;
}

 .responsive-image{
        height:auto;
        width:100%; 
}
.desc{
  text-transform: uppercase;
  font-family: lato;
  font-weight: 400;
  padding-bottom: 20px;
}        

}

/*___________________________________________________________________*/

.content {
  padding: 50px 2% 250px;
}

.hero {
  position: relative;
/*  background: url(../images/images/hero-03.png) no-repeat center center fixed;
*/  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  text-align: center;
  padding-top: 10px;
  min-height: 300px;
}


.hero h1 {
/*font-size: 9.375em;
line-height: 10.250em;*/

}
.hero h1 span {
  color: black;
  border-bottom: 5px solid black;
  padding-bottom: 20px;

}

.h2span h2  span {
  border-bottom: 3px solid #8f8f8f;
  padding-bottom: 15px;
  font-weight: 400;

}

/*FOOTER  */

.footer-basic-centered{
  width: 100%;
  text-align: center;
  font-size: 1em;
  margin-top: 50px;
  margin-bottom: 50px;
  border-top: 1px solid #e9e9e9;
  border-bottom: 1px solid #e9e9e9;

}


.footer-basic-centered .footer-links a{
  display:inline-block;
  text-decoration: none;
  padding: 20px;
  text-align: center;
}

.footer{
  color: black;
  font-size: .75em;
  padding-bottom: 20px;
  text-align: center;

}


/*MAKE FOOTER RESPONSIVE 
*/
@media (max-width: 600px) {

  .footer-basic-centered{
    padding: 35px;
  }

  .footer-basic-centered .footer-links{
    font-size: 14px;
    padding: 25px 0 20px;
  }

  .footer-basic-centered .footer-links a{
    line-height: 1.8;
  }

  .footer{
  font-size: 12px;
  text-align: center;

}
}

/*LETS TALK
*/

form {
  max-width: 600px;
  text-align: center;
  margin: 20px auto;

}
form input, form textarea {
  outline: 0;
  padding: 5px;
  display: block;
  width: 100%;
  margin-top: 1em;
  font-size: 1em;
  resize: none;
  border: 1px solid gray;


}
form input:focus, form textarea:focus {
    border: 2px solid black;


}
form #input-submit {
  color: white;
  background: black;
  letter-spacing: 1px;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.2em;
  border: 3.5px solid black;
  padding-top: 5px;
  padding-bottom: 5px;
  cursor: pointer;

}
form #input-submit:hover {
  background-color: #48d1cc;
  border: 3.5px solid #48d1cc;
}

form textarea {
  height: 123.25px;
}

.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right {
  width: 50%;
}

.left {
  margin-right: 2%;
}

@media (max-width: 480px) {
  .half {
    width: 100%;
    float: none;
    margin-bottom: 0;
  }
}


/*IMAGE GALLERY
*/


  .caption-style-1{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    
  }

  .caption-style-1 li{
    float: left;
    padding: 0px;
    position: relative;
    overflow: hidden;
  }

  .caption-style-1 li:hover .caption{
    opacity: 1;

  }


  .caption-style-1 img{
    margin: 0px;
    padding: 10px;
    float: left;
    z-index: 4;
  }

  .caption-style-1 .caption{
    cursor: pointer;
    position: absolute;
    opacity: 0;
    -webkit-transition:all 0.45s ease-in-out;
    -moz-transition:all 0.45s ease-in-out;
    -o-transition:all 0.45s ease-in-out;
    -ms-transition:all 0.45s ease-in-out;
    transition:all 0.45s ease-in-out;
    padding: 10px;

  }
  .caption-style-1 .blur{
    background-color: rgba(0,0,0,0.75);
    height: 300px;
    width: 400px;
    padding: 0px;
    z-index: 5;
    position: absolute;
  }

  .caption-style-1 .caption-text{
    text-align: center;
  }

  .caption-style-1 .caption-text{
    z-index: 10;
    color: white;
    position: absolute;
    width: 400px;
    height: 300px;
    text-align: center;
    top:100px;
  }



